# macOS
.DS_Store

# CodeLite IDE
*.mk
*.txt
*.project
*.workspace
compile_commands.json
Makefile
.cache/
.codelite/
*.session
*.tags
tags

.clang-format
.clangd
.ctagsd/

# Builds
Debug/
build-Debug/